---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
<main>
  <section class="container hero">
    <div class="card" style="text-align:center;">
      <div class="title">
        <img src="/icon-192.png" alt="GF logga" />
        <h1>Hej, välkomna!</h1>
      </div>
      <p>Välkomna till <strong>Gränslöst Förtrollad</strong></p>
      <p>Detta är min första egna blogg!</p>
      <a href="/blog" class="btn">Läs bloggen</a>
    </div>
  </section>
</main>

		<Footer />
	</body>
</html>
