---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Integritetspolicy">
  <h1>Integritetspolicy</h1>
  <p>Här beskriver vi hur vi hanterar dina uppgifter på Gränslöst Förtrollad.</p>
</Layout>
